<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Estoque"
            connectionString="Data Source=DESKTOP-C9H8DGK;Initial Catalog=estoque_db;Persist Security Info=True;User ID=sa;Password=abc124578"
         />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>